<footer>
    <div class="wrapper">
        <div class="social-media-logos-container">
            <a href="https://twitter.com/FluidProject" target="_blank"><img class="social-media-logo" alt="Twitter" src="/images/icon-twitter.svg" /></a>
            <a href="https://https://github.com/fluid-project" target="_blank"><img class="social-media-logo" alt="Github" src="/images/icon-github.svg" /></a>
            <a href="https://wiki.fluidproject.org/display/fluid/Mailing+Lists" target="_blank"><img class="social-media-logo" alt="Mail" src="/images/icon-mail.svg" /></a>
        </div>
        <div class="collapsible-container">
            <p> Floe is a project of the <a href="https://idrc.ocadu.ca/" target="_blank">Inclusive Design Research Centre</a> at <a href="https://www.ocadu.ca/" target="_blank">OCAD University</a>.</p>
            <p>Funded by a grant from <a href="https://www.hewlett.org" target="_blank">The William and Flora Hewlett Foundation.</a>.</p>
        </div>
        <div class="org-logos-container">
            <a href="https://idrc.ocadu.ca/" target="_blank"><img class="org-logo" alt="IDRC" src="/images/logo-idrc.svg" /></a>
            <a href="https://www.ocadu.ca/" target="_blank"><img class="org-logo" alt="OCADU" src="/images/logo-ocadu.svg" /></a>
            <a href="https://www.hewlett.org/" target="_blank"><img class="org-logo" alt="Hewlett Foundation" src="/images/hewlett_foundation_logo.png" /></a>
            <a href="https://www.floeproject.org/" target="_blank"><img class="org-logo-floeLogo" alt="Floe Organization" src="/images/wb-logo.png" /></a>
        </div>
    </div>
</footer>